.container {
  position: relative;
  width: 100%;
  top: 50px;
}

input#usernameunos {
  position: relative;
  height: 50px;
}

.form-group {
  margin: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 700px;
  margin-top: 25px;
}

.male,
.female {
  margin-right: 5px;
}

.maleinput {
  margin-right: 10px;
}

li {
  border: 1px solid black;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.dugmad {
  margin-top: 20px;
}

.fa-close {
  cursor: pointer;
}

.nameskill {
  margin-bottom: 10px;
}

.rowskill {
  margin-top: -390px;
  margin-left: 700px;
}

input#emailunos {
  position: relative;
  height: 50px;
}

.addSkill {
  margin-top: 10px;
  width: 20%;
}

.email {
  position: relative;
  font-size: 25px;
}

input#firstnameunos {
  position: relative;
  height: 50px;
}

.firstname {
  position: relative;
  font-size: 25px;
}

input#lastnameunos {
  position: relative;
  height: 50px;
}

.lastname {
  position: relative;
  font-size: 25px;
}

.username {
  position: relative;
  font-size: 25px;
}

input#lozinkaunos {
  position: relative;
  height: 50px;
}

.lozinka {
  position: relative;
  font-size: 25px;
}

.selectt {
  position: relative;
  height: 50px;
}

.location {
  height: 50px;
}
.dateofbirth {
  height: 50px;
}

.select {
  position: relative;
  font-size: 25px;
}

.add {
  position: relative;
  width: 120px;
  height: 40px;
  font-size: 20px;
}

.cancel {
  position: relative;
  width: 120px;
  height: 40px;
  margin-left: 100px;
  font-size: 20px;
}
hr {
  position: relative;
  margin-bottom: 40px;
  margin-right: 25px;
}
