.level {
  margin-bottom: 10px;
  margin-top: 10px;
}

.save {
  margin-left: 10px;
}

.level {
  margin-bottom: 10px;
}

li {
  border: 1px solid black;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
ul {
  margin-top: 10px;
}
